<div class="layout-wrapper" [ngClass]="containerClass">
  <div class="layout-main-container">
    <app-header [hidden]="!showHeader"></app-header>
    <app-menu [hidden]="!showMenu"></app-menu>
    <div class="layout-main">
      <div
        class="surface-card flex flex-row align-content-center align-items-center h-3rem py-2 px-5 border-bottom-1"
        [ngClass]="
          layoutService.config.colorScheme === 'light'
            ? 'border-gray-300'
            : 'border-bluegray-600'
        "
        style="font-size: 1rem; color: var(--primary-color)"
      >
        <i class="pi pi-exclamation-circle mr-2"></i>
        <span class="font-semibold">
          MINISTERIO DE HACIENDA Y CRÉDITO PÚBLICO - GESTIÓN GENERAL
          <small>(13-01-01)</small>
        </span>
      </div>
      <router-outlet></router-outlet>
    </div>
    <app-footer [hidden]="!showFooter"></app-footer>
  </div>
</div>
