<div
  class="layout-topbar border-bottom-1"
  [ngClass]="
    layoutService.config.colorScheme === 'light'
      ? 'border-gray-300'
      : 'border-bluegray-600'
  "
>
  <a class="layout-topbar-logo">
    <img src="../../../../assets/layout/images/logo.png" alt="logo" />
    <div class="flex flex-column">
      <span class="text-base">{{ titulo }}</span>
      <small class="text-xs" style="color: var(--primary-color)"
        >Versión {{ version }}</small
      >
    </div>
  </a>

  <button
    type="button"
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>
  <button
    type="button"
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>
  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <div class="flex flex-column mr-3 font-semibold sm:mb-2">
      <span class="text-base"
        >JESUS RODRIGUES
        <small style="color: var(--primary-color)">(urodiguez)</small></span
      >
      <small class="lg:text-right">AFS - Administradores</small>
    </div>
    <button type="button" class="p-link layout-topbar-button">
      <i class="pi pi-user"></i>
    </button>
    <button type="button" class="p-link layout-topbar-button">
      <i class="pi pi-sync"></i>
    </button>
    <button
      type="button"
      class="p-link layout-topbar-button"
      tooltipPosition="bottom"
      pTooltip="Salir"
    >
      <i class="pi pi-sign-out"></i>
    </button>
  </div>
</div>
